<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="homeContent" style="display: none; flex-direction: column;">
<div style="display:flex;flex-direction:column;flex:1; margin-bottom: 5px;">
    <div style="padding:15px 5px;margin-left:10px;">추천 커뮤니티글</div>
    <div style="display:flex;">
        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">유니티 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">게임스탑 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">지니 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">예야 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">AMC 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">컴플 전망</div>
        </div>
    </div>
</div>

<div class="w-full" style="border-bottom:1px solid;border-color: #E5E5E5;margin-bottom: 5px;"></div>

<div style="display:flex;flex-direction:column;flex:1">
    <div style="padding:15px 5px;margin-left:10px;">추천 게시글</div>
    <div style="display:flex;">
        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">유니티 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">게임스탑 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">지니 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">예야 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">AMC 전망</div>
        </div>

        <div class="d-flex-dc" style="width:200px;height:130px;cursor: pointer;">
            <div style="width:100px;height:100px;">
                <img style="width:100%;height:100%;filter: opacity(0.5);" src="/static/image/login.png">
            </div>
            <div style="display:flex;flex:1;flex-wrap: wrap;align-content: center;">컴플 전망</div>
        </div>
    </div>
</div>
<div style="height:200px;width:100%"></div>
</div>
</html>