<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div style="display: flex;flex-direction: column;" id="content">
    <!-- itembox_n1
        MainD:  카테고리, 유저
        개인페이지: 배너 , 채널소개-->
    <div id="checkPasswd" hidden th:text="${checkPasswd}"></div>
    <form id="forminfo" name="form1" method="post" action="/update" enctype="multipart/form-data">
    <div class="w-full itembox_n1">
            <!-- 배너 이미지  -->
            <div id="banner" class="d-flex-dr w-full">
                <img th:src="${session.MyInfo.banner_URL}" class="userImg">
            </div>
            <!-- / -->
            <div class="item1 w-full">
                <div class="item2" style="width: 98%;padding-bottom: 0;">
                    <!-- 유저 프로필 -->
                    <div class="userI">
                        <img alt="default" th:src="${session.MyInfo.icon_URL}" class="userImg" style="filter: opacity(0.5);">
                    </div>
                    <!-- / -->
                    <!-- 채널 이름, 설명 -->
                    <div style="display:flex;flex-direction:column;flex:0.9;">
                        <input type="text" name="channel_name"
                               style="font-size: 1.5em;margin-bottom:0.5em; border:none;"
                               th:value="${session.MyInfo.channel_name}" th:readonly="${checkPasswd != true}"/>
                        <div style="color: #606060;" th:text="${#strings.substringBefore((session.MyInfo.description+'&#10;') , '&#10;')}"
                             onclick="showContent('Info');">Info
                        </div>
                    </div>
                    <!-- / -->
                </div>
            </div>
    </div>

    <!-- 유저 아이콘 -->
    <div style="height:30px;display:flex;" class="w-full">
        <div style="display:flex;flex: 0.6;justify-content: flex-start;align-items: center; text-align:center;"
             class="w-full">
            <div class="menubar" onclick="showContent('Home');">Home</div>
            <div class="menubar" onclick="showContent('Info');">Info</div>
        </div>
    </div>
    <!-- / -->
    <div class="w-full" style="border-bottom:1px solid;border-color: #E5E5E5;margin-bottom: 10px;"></div>
    <!--  MainD:  유저 소개
         개인페이지: div 두개 나눠서 위에는 메뉴바 밑에는 content
     -->


    <!-- Content -->
    <div class="w-full itembox_n2" id="bbs_content1">
        <div th:replace="~{/public/bbs_home.html}"></div>
<!--        <div th:replace="~{/public/bbs_myList.html}"></div>-->
        <div th:replace="~{/public/bbs_info.html}"></div>
    </div>
    <div style="height:200px;width:100%"></div>
    <!-- / -->
    </form>
</div>
</html>