<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<style>
    textarea:focus {
        outline: none;
    }

    #video_description {
        background: #F2F2F2;
    }

    #showComment:active {
        background: #D7D7D7;
    }

    .howViewComment:hover {
        background: #E5E5E5;
    }

    .howViewComment:active {
        background: #CBCBCB;
    }

    #MyVideoToggle:hover {
        background: #E5E5E5;
    }

    #MyVideoToggle {
        background: #F2F2F2;
    }


</style>
<div th:fragment="uploadVideo" style="display: flex;flex: 1;">
    <!-- loading-->
    <div id="backLoad"
         style="display:none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99;background-color: black; filter: opacity(0.8)"></div>
    <div id="loading"
         style="position:fixed; display: none;top: 50%;left: 50%; z-index:101; transform: translate(-50%,-50%);font-size: 40px;">
        <lottie-player src="/static/js/Aniki Hamster.json" background="transparent" speed="1"
                       style="width: 300px; height: 300px;z-index: 100" loop autoplay></lottie-player>
    </div>
    <!-- loading-->
    <div id="background"
         style="display:none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;filter: opacity(0);z-index: 10;"></div>

    <div id="video_UID" hidden th:text="${session.thisVideo.video_UID}"></div>
    <div id="userID" hidden th:text="${session.userID}"></div>
    <div class="d-flex-dc" id="content" style="flex: 1">
        <!-- itembox_n1
            MainD:  카테고리, 유저
            개인페이지: 배너 , 채널소개-->
        <div class="w-full itembox_n1" style="flex: 1;">
            <!--메인컨테이너-->
            <div style="display: flex;flex: 1;">
                <div style="display: flex;flex-direction: column;flex: 2;" id="mainContainer">
                    <div style="display: flex;margin-bottom: 10px;height: 70vh;" id="videoView">
                        <video style="width: 100%;display: flex;" th:src="${session.thisVideo.video_URL}" controls
                               autoplay></video>
                    </div>
                    <div style="display: flex;flex-direction: column;" id="videoInfo">
                        <div style="display: flex;flex: 1;font-weight: 600;font-size: x-large;"
                             th:text="${session.thisVideo.video_Name}"></div>
                        <div style="display: flex;flex: 1;margin-bottom: 10px;justify-content: space-between;align-items: flex-end;">
                            <div style="display: flex;">
                                <div style="display: flex;height: 55px;padding: 5px;position: relative;left: -5px;">
                                    <img th:src="${session.thisVideo.icon_URL}" alt="">
                                </div>
                                <div style="display: flex;flex-direction: column;">
                                    <div style="display: flex;padding: 5px;font-weight: 600;"
                                         th:text="${session.thisVideo.channel_name}"></div>
                                    <div style="display: flex;padding: 0 5px;">
                                        <div id="videoLikeCnt" style="display: flex;margin-right: 10px;"
                                             th:text="'좋아요: '+${session.thisVideo.video_Like}"></div>
                                    </div>
                                </div>
                                <div onclick="VideoLike();" style="display: flex;width: 50px;height: 50px;align-items: flex-end;position: relative;left: -20px;bottom: -9px;">
                                    <lottie-player id="videoLike" src="/static/js/videoLike.json"
                                                   background="transparent" speed="1"
                                                   style="width: 100%;height: 100%;display: flex;"></lottie-player>
                                    <input type="checkbox" id="videoLikeCheck" hidden th:checked="${session.userID != null and session.userID == session.thisVideo.isChecked }">
                                    <div th:text="${session.thisVideo.isChecked}" hidden></div>
                                    <div th:text="${session.userID}" hidden></div>
                                </div>
                            </div>
                            <div id="MyVideoToggle" onclick="MyVideoToggle();"
                                 style="position:relative;display: flex;align-items: center;width: 25px;cursor:pointer;height: 25px;border-radius: 50%;justify-content: center;"
                                 th:if="${session.userID == session.thisVideo.upload_User}">
                                <img src="/static/image/more.png" style="width: 70%;height: 70%;display: flex;" alt="">
                                <div id="myPageBtn"
                                     style="z-index: 77; background: rgb(255, 255, 255); position: absolute; top: 0px; left: 30px; display: none; flex-direction: column; line-height: 1.5; box-shadow: rgb(215, 215, 215) 0px 0px 5px; width: 50px; height: 30px; border-radius: 5px; justify-content: center;">
                                    <label for="myPage" class="howViewComment"
                                           th:onclick="viewDelete([[${session.thisVideo.video_UID}]]);"
                                           style="display: flex;width: 100%;cursor: pointer;height: 80%;align-items: center;font-size: 0.8em;justify-content: center;">삭제</label>
                                    <input id="myPage" type="button" style="display: none">
                                </div>
                            </div>

                        </div>
                        <div style="display: flex;flex-direction: column;background: #F2F2F2;box-shadow: 0 0 2px rgb(215, 215, 215);min-height: 100px;border-radius: 10px;padding: 5px 10px;">
                            <div style="display: flex;height: 30px;flex-wrap: wrap;align-content: center;">
                                <div style="display: flex;margin-right: 10px;">조회수:&nbsp;
                                    <div style="display: flex;font-weight: 600;align-items: flex-end;"
                                         th:text="${session.thisVideo.views}"></div>
                                    회
                                </div>
                                <div style="display: flex;align-items: flex-end;font-weight: 600;"
                                     th:text="${#dates.format(session.thisVideo.video_Join_Date,'yyyy.MM.dd.')}"></div>
                            </div>
                            <div style="display: flex">
                                <textarea id="video_description"
                                          style="display: flex;resize:none;border:none;flex: 1;overflow-y: hidden;"
                                          readonly>[[${session.thisVideo.video_Description.replaceAll('^\\s+', '')}]]</textarea>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;margin-bottom: 70px;padding: 10px 0;flex-direction: column;"
                         id="videoComment">
                        <!-- 댓글 작성 및 정렬-->
                        <div style="display:flex;height: 30px; flex-wrap: wrap;align-content: center;">
                            <div style="display: flex;margin-right: 20px;"
                                 th:text="${'댓글 '+session.comments.size()+'개'}">댓글 100개
                            </div>
                            <div style="display: flex;position:relative;">
                                <div id="showComment" style="display: flex;flex: 1;cursor: pointer;border-radius: 5%;"
                                     onclick="commentBar();">
                                    <div style="display: flex;width: 25px;height: 25px;">
                                        <img id="commentBar" src="/static/image/commentBarA.png"
                                             style="width: 100%;height: 100%;">
                                    </div>
                                    <!-- 라벨은 그냥 나두면 상위 태그에 onclick이 있을 때 해당 onclick을 두번클릭하게 만든다. 고로 onclick="event.stopPropagation();" 써서 막아줘야한다.-->
                                    <label for="bar" onclick="event.stopPropagation();"
                                           style="margin-left: 10px;display:flex;flex-wrap: wrap;align-content: center;cursor: pointer;">정렬기준</label>
                                    <input type="checkbox" id="bar" style="display: none">
                                </div>
                                <!--댓글 정렬-->
                                <div id="howViewComment"
                                     style="z-index: 1000;background: #fff;position: absolute;top: 35px;display: none;flex-direction: column;line-height: 1.5;box-shadow: 0 0 5px #D7D7D7;width: 120px;height: 110px;border-radius: 5px;justify-content: center;">
                                    <label for="popular" class="howViewComment"
                                           style="display: flex;width: 100%;cursor: pointer;height: 45%;align-items: center;padding: 0 0 0 20px;">인기
                                        댓글순</label>
                                    <input id="popular" type="radio" style="display: none" checked>
                                    <label for="recent" class="howViewComment"
                                           style="width: 100%;display: flex;cursor: pointer;height: 45%;align-items: center;padding: 0 20px;">최신순</label>
                                    <input id="recent" type="radio" style="display: none">
                                </div>
                                <!--//댓글 정렬-->
                            </div>
                        </div>
                        <!-- 댓글 작성 및 정렬-->
                        <div style="display: flex;">
                            <div style="display: flex;width: 40px;height: 40px;margin-right: 15px;margin-top: 10px;">
                                <img src="/static/image/login.png" th:if="${session.userID == null}"
                                     style="width: 100%; height: 100%;filter: opacity(0.5);">
                                <img th:src="${session.MyInfo.icon_URL}" th:if="${session.userID != null}"
                                     style="width: 100%; height: 100%">
                            </div>
                            <div style="display:flex;align-items: flex-end;flex: 1;flex-direction: column;">
                                <div style="display:flex;width: 100%;flex: 1;padding: 15px 0 0; margin-bottom: 10px;">
                                    <textarea th:if="${session.userID != null}" class="comment_Description"
                                              name="comment_Description" placeholder="댓글 추가.."
                                              style="display: flex;flex: 1;line-height:1.5;border-top: none;border-right: none;border-left: none;outline: none;border-bottom: 1px solid;height: 27px;overflow-y: hidden;resize: none;"></textarea>
                                    <textarea th:if="${session.userID == null}" onclick="goLogin();"
                                              class="comment_Description" name="comment_Description"
                                              placeholder="댓글 추가.."
                                              style="display: flex;flex: 1;line-height:1.5;border-top: none;border-right: none;border-left: none;outline: none;border-bottom: 1px solid;height: 27px;overflow-y: hidden;resize: none;"></textarea>
                                </div>
                                <div style="display:flex;" th:if="${session.userID != null}">
                                    <input style="display:flex;" type="button" value="취소"
                                           onclick="textReset('.comment_Description');">
                                    <input style="display:flex;margin-left: 10px;" name="updateBtn" type="button"
                                           value="댓글" onclick="updateText('.comment_Description');">
                                </div>
                            </div>
                        </div>
                        <!-- 댓글 리스트-->
                        <div id="loading1"
                             style="display: none;z-index:101;flex: 1;position: relative;top: -20px;justify-content: center;margin-bottom: -30px;">
                            <lottie-player src="/static/js/comment loading.json" background="transparent" speed="1"
                                           style="width: 50px;height: 50px;z-index: 100" loop=""
                                           autoplay=""></lottie-player>
                        </div>
                        <div style="margin-bottom: 10px;" th:if="${session.userID == null}"></div>
                        <div style="display: flex;flex: 1; flex-direction: column;">
                            <div style="display: flex;margin-bottom: 25px"
                                 th:each="comment, commentStat : ${session.comments}">
                                <div th:text="${commentStat.index}" hidden></div>
                                <!--유저아이콘-->
                                <div style="display: flex;width: 40px;height: 40px;margin-right: 10px;margin-top: 10px;">
                                    <img th:src="${comment.icon_URL}"
                                         style="width: 100%; height: 100%;filter: opacity(0.5);">
                                </div>
                                <div style="display:flex;align-items: flex-end;flex: 1;flex-direction: column;">
                                    <div style="display:flex;width: 100%;flex: 1;padding: 9px 0 0;flex-direction: column">
                                        <div style="display: flex;align-items: flex-end;margin-bottom: 3px;">
                                            <div style="display: flex;font-size: 0.8em;margin-right: 10px;"
                                                 th:text="${comment.comment_UserID}">박재연
                                            </div>
                                            <div style="display: flex;font-size: 0.8em;"
                                                 th:text="${#dates.format(comment.comment_Join_Date,'yyyy.MM.dd HH:mm')}">
                                                2021-04-27 12:40:22
                                            </div>
                                        </div>
                                        <div style="display: flex;justify-content: space-between;align-items: flex-start;position: relative;left: -3px;">
                                             <textarea class="comment_List" name="comment_List"
                                                       style="display: flex; line-height: 1.5; border: none; outline: none;flex: 1;height: 27px; overflow-y: hidden; resize: none;"
                                                       readonly="">[[${comment.Comment_Description.replaceAll('^\\s+', '')}]]</textarea>
                                            <div style="display: flex;flex: 1;position: absolute;height: 30px;bottom: -25px;left: -5px;">
                                                <lottie-player th:attr="id='lottie-like-'+${comment.comment_UID}"
                                                               src="/static/js/like.json"
                                                               background="transparent" speed="1"
                                                               th:onclick="commentLike(event, 'lottie-like-'+[[${comment.comment_UID}]]);"
                                                               style="z-index: 100"></lottie-player>
                                                <input th:attr="id='checkLike-'+${comment.comment_UID}" type="checkbox"
                                                       hidden
                                                       th:checked="${comment.isChecked == session.userID and session.userID != null}">
                                                <div th:attr="id='commentCnt-'+${comment.comment_UID}"
                                                     style="display: flex;align-items: center;"
                                                     th:text="${comment.comment_Like}">23
                                                </div>
                                            </div>
                                            <!--내 댓글일 경우 토글창-->
                                            <div id="MyCommentToggle"
                                                 style="display: flex;width: 20px;height: 20px;cursor: pointer;position: relative;"
                                                 onclick="MyCommentToggle(event);"
                                                 th:if="${comment.comment_UserID == session.userID}">
                                                <img src="/static/image/moreMypage.png" alt=""
                                                     style="width: 100%;height: 100%;display: flex">
                                                <div class="MyComment"
                                                     style="z-index: 77;background: rgb(255, 255, 255);position: absolute;top: 20px;display: none;flex-direction: column;line-height: 1.5;box-shadow: rgb(215, 215, 215) 0px 0px 5px;width: 70px;height: 35px;border-radius: 5px;justify-content: center;">
                                                    <div class="howViewComment"
                                                         th:onclick="deleteC([[${comment.comment_UID}]]);"
                                                         style="width: 100%;display: flex;cursor: pointer;height: 90%;align-items: center;padding: 0 20px;font-size: 0.8em;">
                                                        삭제
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex;flex-direction: column;flex: 0.6;" id="navContainer">
                    <div style="display: flex;">
                        <div style="display: flex;">
                        </div>
                        <div style="display: flex;flex-direction: column">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>