<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:include="/public/login.html"></div>
<div id="container">
    <div id="containerT"></div>
        <div id="logbox">
            <!-- 디자인부분 -->
            <div id="logoI">
            </div>
            <div id="LoginI">
                <img src="/static/image/login.png">
            </div>
            <div class="ts3">비밀번호 확인</div>
            <!-- / -->
            <!-- 구현부분 -->
            <form name="form1" action="/bbsUpdate" method="post" style="display: flex;flex-direction: column; align-items: center;">
                <input type="password" name="password" placeholder="비밀번호">
                <div class="d-flex sub">
                    <input type="submit" value="확인">
                </div>
            </form>
            <!-- / -->
        </div>
    </div>
</body>
</html>